@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

html, body{
	background-color: #fcfcfc;
}

#container{
	max-width: 100vw;
	height: 100vh;
	}

/* BARRA DE NAVEGACIÓN */

nav{
	width: 100%;
	display: inline-flex; 
	justify-content: space-around;
	flex-wrap: wrap;
	position: fixed;
	background-color: transparent;
	font-size: 20px;
	font-family: 'Merriweather', serif;
	z-index: 1;
}

nav img{
	width: 185px;
	height: 80px;
	filter: drop-shadow(10px 10px 10px #ffffff);
}

nav ul{
	display: inline-flex;
	align-items: baseline;
	margin-top: 30px;
}

nav ul li a{
	color: #000000;
}

nav ul li{
	padding: 15px;
}

.dropbtn, nav ul li a{
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff;
}

/*DROPDOWN MENU*/ 

.dropdown{
	display: inline-block;
}

.arrow-down-wrapper{
	height: 25px;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
}

.dropbtn{
	cursor: pointer;
}

.dropdown-content{
	display: none;
	position: absolute;
}

.dropdown-content a{
	color: #000000;
	padding: 15px 25px 15px 15px;
	display: block;
}

.dropdown-content a:hover{
	background-color: black;
	opacity: 0.8;
	cursor: pointer;
}

.dropdown:hover .dropdown-content{
	display: block;
}

/* REDES SOCIALES */ 

.socialig{
	width: 24px;
	height: 22px;
	filter: drop-shadow(5px 5px 5px #ffffff);
}

.socialbe{
	width: 32px; 
	height: 22px;
	filter: drop-shadow(5px 5px 5px #ffffff);
}

.socialln{
	width: 23px;
	height: 23px;
	filter: drop-shadow(5px 5px 5px #ffffff);
}

.socialgh{
	width: 24px;
	height: 23px;
	filter: drop-shadow(5px 5px 5px #ffffff);
}

/* PORTFOLIO /*
/* PAGINA PRINCIPAL */

#portfolio-wrapper{
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center
}

/* SILENCIO DE OFICINA */

.oficina-wrapper{
	width: 80%;
	height: 725px;
	margin: 130px;
	display: flex;
	background-image: url(../img/portfolio/silencio.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #050D11;
}

.oficina-info{
	color: white;
}

.oficina-titulo{
	margin-top: 30px;
	font-size: 45px;
	font-family: 'Merriweather', serif;
}

.oficina-txt{
	width: 300px;
	font-size: 20px;
	line-height: 1.4;
}

.oficina-boton{
	font-size: 20px;
	position: absolute;
	margin-left: 15px;
	padding: 20px 38px;
	color: white;
	border-radius: 3px;
	border: 2px solid white;
}

.oficina-boton:hover{
	transition: 0.5s ease;
	-webkit-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	box-shadow: 5px 5px 5px 0px rgb(255, 255, 255);
}

.oficina-titulo, .oficina-txt, .oficina-boton{
	margin: 50px;
}

@media screen and (max-width: 1024px){
	.oficina-wrapper{
		width: 95%;
		height: 725px;
		margin: 130px;
		background-image: url(../img/portfolio/silencio.jpg );
		background-position: center;
		background-repeat: no-repeat;
		background-color: #050D11;
		display: flex;
		align-items: flex-start;
	}

	.oficina-info{
		filter: drop-shadow(8px 8px 8px black);
	}

	.oficina-titulo{
		font-size: 30px;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	.oficina-txt{
		width: 250px;
		height: 320px;
		font-size: 18px;
		text-align: center;
		line-height: 1.8;
	}
	
	.oficina-boton{
		font-size: 18px;
		position: absolute;
		padding: 30px 85px;
		color: white;
		border-radius: 3px;
		-webkit-box-shadow: 0px 0px 11px 4px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 11px 4px rgba(255,255,255,1);
		box-shadow: 0px 0px 11px 4px rgba(255,255,255,1);
	}
}

/* VIVA JUJUY */

.jujuy-wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 80%;
	height: 725px;
	background-image: url(../img/portfolio/jujuy.jpg);
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.viva{
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 180px;
	font-family: roland;
	color: #E28207;
	line-height: 1;
	letter-spacing: 10px;
	filter: drop-shadow(1px 2px 1px black);
}

.jujuy{
	display: block;
	margin: 0px;
	padding: 0px;
	font-size: 180px;
	font-family: roland;
	color: #E28207;
	line-height: 1;
	letter-spacing: 10px;
	filter: drop-shadow(1px 2px 1px black);
}

.jujuy-txt{
	margin-top: 40px;
	margin-right: 20px;
	width: 550px;	
	height: 220px;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.4;
	text-align: right;
	
}

.jujuy-boton{
	font-size: 20px;
	padding: 20px 38px;
	border: 2px solid white;
	border-radius: 3px;
	color: white;	
	margin-right: 20px;
}

.jujuy-boton:hover{
	transition: 0.5s ease;
	-webkit-box-shadow: 0px 0px 11px 4px #E28207;
	-moz-box-shadow: 0px 0px 11px 4px #E28207;
	box-shadow: 5px 5px 5px 0px #E28207;
}


@media screen and (max-width: 1024px){
	.jujuy-wrapper{
		width: 95%;
		height: 725px;
		background-image: url(../img/portfolio/jujuy.jpg);
		background-position: right;
		background-repeat: no-repeat;
		background-color: #050D11;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.viva, .jujuy{
		font-size: 80px;
		font-family: roland; 	
	}
	.jujuy-txt{
		font-size: 16px;
		text-align: center;
		width: 360px;	
		height: 220px;
	}
	.jujuy-boton{
		padding: 30px 90px;
		margin: 0px;
	}
}

/* MOMENTOS */

.momentos-wrapper{
	width: 80%;
	height: 725px;
	margin: 130px;
	display: flex;
	background-image: url(../img/portfolio/momentos.jpg);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #0C1316;
}

.momentos-info{
	color: white;
	margin: 180px 50px;
}

.momentos-titulo{
	margin-top: 30px;
	font-size: 45px;
	filter: drop-shadow(1px 0px 0px black);
}

.momentos-txt{
	width: 350px;
	font-size: 20px;
	line-height: 1.4;
}

.momentos-boton{
	font-size: 20px;
	position: absolute;
	padding: 20px 38px;
	color: white;
	border-radius: 3px;
	border: 2px solid white;
}

.momentos-boton:hover{
	transition: 0.5s ease;
	-webkit-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	box-shadow: 5px 5px 5px 0px rgb(255, 255, 255);
}

.momentos-titulo, .momentos-txt, .momentos-boton{
	margin: 50px;
}

@media screen and (max-width: 1024px){
	.momentos-wrapper{
		background-position: center;
		width: 95%;
		height: 725px;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.momentos-titulo{
		font-size: 50px;
	}
	.momentos-txt{
		width: 300px;
		font-size: 16px;
		line-height: 1.4;
	}
	.momentos-boton{
		padding: 30px 90px;
	}
}
@media screen and (max-width: 500px){
	.momentos-wrapper{
		justify-content: center;
		align-items: center;
	}
	.momentos-boton{
		width: auto;
	}
}

/* DEL CAMINO */

.camino-wrapper{
	width: 80%;
	height: 725px;
	background-image: url(../img/portfolio/camino.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #0C1316;
}

.camino-info{
	display: flex;
	flex-direction: column;
	color: white;
	margin: 150px 80px;
}

.del{
	font-size: 50px;
	font-family: roland;
	line-height: 1;
	letter-spacing: 1px;
	margin: 0px 70px;
	padding: 0px;
	text-shadow: 10px 10px 5px black; 
}

.camino{
	font-size: 150px;
	font-family: roland;
	line-height: 1;
	letter-spacing: 5px;
	margin: 0px;
	padding: 0px; 
	text-shadow: 10px 10px 5px black;
}

.camino-txt{
	width: 450px;
	font-size: 23px;
	line-height: 1.4;
	margin: 0px;
	padding: 50px;
}

.camino-boton{
	width: 100px;
	font-size: 20px;
	margin: 50px;
	padding: 20px 38px;
	color: white;
	border-radius: 3px;
	margin-top: 15px;
	border: 2px solid white;
}

.camino-boton:hover{
	transition: 0.5s ease;
	-webkit-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	box-shadow: 5px 5px 5px 0px rgb(255, 255, 255);
}

@media screen and (max-width: 1024px){
	.camino-wrapper{
		width: 95%;
		height: 725px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.camino-info{
		margin: 0px;
	}
	.del{
		font-size: 40px;
		width: auto;
		font-family: roland;
	}
	.camino{
		font-size: 60px;
		margin: auto;
		font-family: roland;
	}
	.camino-txt{
		width: 300px;
		font-size: 16px;
		margin: 0px;
	}
}
@media screen and (max-width: 500px){
	.camino-boton{
		width: auto;
		text-align: center;
	}
}

/* IMPRO */

.impro-wrapper{
	width: 80%;
	height: 725px;
	margin: 130px;
	background-image: url(../img/portfolio/impro.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #0C1316;
}

.impro-info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	margin: 200px 50px;
}

.impro-titulo{
	font-size: 200px;
	font-family: times;
	line-height: 1;
	letter-spacing: 10px;
	padding: 0px; 

}

.impro-txt{
	width: 450px;
	height: 200px;
	font-size: 24px;
	line-height: 1.4;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.impro-boton{
	color: white;
	font-size: 20px;
	padding: 20px 38px;
	border-radius: 3px;
 	border: 2px solid white;
	cursor: pointer;
}

.impro-boton-anchor{
	color: white;
}

.impro-boton:hover{
	transition: 0.5s ease;
	-webkit-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	-moz-box-shadow: 0px 0px 11px 4px rgb(255, 255, 255);
	box-shadow: 5px 5px 5px 0px rgb(255, 255, 255);
}

@media screen and (max-width: 1024px){
	.impro-wrapper{
		width: 95%;
		height: 725px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.imrpo-info{
		margin: 0px;
	}
	.impro-titulo{
		font-size: 90px;
		width: auto;
	}
	.impro-txt{
		width: 300px;
		font-size: 18px;
		margin: 10px;
	}
}
@media screen and (max-width: 500px){
	.impro-boton{
		width: auto;
		text-align: center;
	}
}

/* FOOTER */

footer{
	height: 180px;
	width: 100%;
	margin-top: 5px;
	background-color: black;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.footer-ig{
	width: 100px;
	height: 95px;
	padding: 15px;
}

.footer-be{
	width: 145px;
	height: 95px;
	padding: 15px;
}

.footer-ln{
	width: 100px;
	height: 95px;
	padding: 15px;
}

.footer-gh{
	width: 95px;
	height: 95px;
	padding: 15px;
}	

.mail{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	font-family: 'Merriweather', serif;
}


/*MEDIA QUERIES*/
/*1024*/


@media screen and (min-width: 1025px){
    .icono-menu, .cont-menu{
        display: none;
    }
}

@media screen and (max-width: 1024px) {

	nav{
	font-family: 'Merriweather', serif;
	}

	.menuprincipal{
		display: none;
	}

	.logo{
		width: 140px;
		height: 60px;
		flex-grow: 4;
		margin-left: 20px;
	}

 	.icono-menu{
		margin: 35px 40px;
		z-index: 10;
	}
	
	.icono-menu img{
		width: 25px;
		height: 40px;
		cursor: pointer;
	}

	/*Estilos para el contenedor del menú*/

	.cont-menu{
		background-color: rgb(42, 42, 42);
		box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
		width: 200px;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .5s ease;
	}

	.cont-menu img{
		filter: none;
	}

	/*Estilos para agregar en JS*/
	
	.active{
		transform: translate(-600px);
	}
	.opacity{
		background-color: rgba(0, 0, 0, 0.5);
		transition: all .5s ease;
	}

	/*Estilos para el listado del menú*/

	.cont-menu ul{
		flex-direction: column;
		padding: 100px 0px 20px 0px;
		list-style: none;
	}
	.cont-menu ul li{
		color: white;
		display: block;
		font-size: 25px;
		text-decoration: none;
		padding: 10px 40px;
		cursor: pointer;
	}
	.cont-menu ul li:hover{
		background-color: rgb(228, 228, 228);
		color: rgb(42, 42, 42);
	}

	.visitame{
		font-size: 10px;
	}
	.arrow-left{
		width: 10px;
	}
	.mail{
		font-size: 13px;
	}

	.footer-ig{
		width: 25px;
		height: 25px;
		padding: 10px;
	}
	
	.footer-be{
		width: 40px;
		height: 25px;
		padding: 10px;
	}
	
	.footer-ln{
		width: 25px;
		height: 25px;
		padding: 10px;
	}
	
	.footer-gh{
		width: 25px;
		height: 25px;
		padding: 10px;
	}	
}